<% url, method_type = play_type.persisted? ? [admin_play_type_path(play_type), :patch] :  [admin_play_types_path, :post] %>
<%= form_for(play_type, url: url, method: method_type) do |f| %>
  <% if play_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(play_type.errors.count, "error") %> <%= t('error_in_save', type: t('play_type')) %>:</h2>

      <ul>
      <% play_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-lg-10">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', style: 'width: 100%;' %>
    <div class="clearfix"></div>
  </div>

  <div class="form-group col-lg-10">
    <%= f.label t('users.users') %>
    <%= f.text_field :name, class: 'form-control', style: 'width: 100%;' %>
    <div class="clearfix"></div>
  </div>

  <div class="form-group col-lg-10">
    <%= f.label :bet_types, t('bet_types') %>
    <%= f.collection_select(:bet_types, BetType.all, :id, :name, { selected: play_type.bet_types.collect(&:id)}, { multiple: true, class: 'form-control'}) %>
  </div>

  <div class="form-group col-lg-10">
    <%= f.submit t('forms.submit'), class: 'btn btn-default' %>
    <%= link_to :back, class: 'btn btn-primary' do %>
      <span class="fa fa-arrow-circle-o-left"></span> Back
    <% end %>
  </div>
<% end %>
