<section class="main-section">
  <div class="wrapper d-block h-100 w-100">
      <header>
        <div class="d-flex w-100 flex-wrap flex-md-nowrap top-header align-items-center justify-content-between ">
          <div class="logo-cover d-flex justify-content-center justify-content-md-start">
            <a href="#" class="logo">
              <%= image_tag "koorabet/logo.png" %>
            </a>
          </div>
          <ul class="d-lg-flex align-items-center flex-grow-1 nav d-none">
            <li><a href="#">Sports Betting</a></li>
            <li><a href="#">Live Betting</a></li>
            <li><a href="#">Casino</a></li>
            <li><a href="#">Live Casino</a></li>
            <li><a href="#">Poker</a></li>
          </ul>
          <div class="button-login d-flex">
            <button class="menu-resp d-lg-none"><i class="fas fa-bars"></i></button>
            <button>Login</button>
            <button>Register</button>
            <div class="dropdown lang-drop">
              <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <%= image_tag "koorabet/flags/us.svg" %> 
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                <a class="dropdown-item" href="#"><%= image_tag "koorabet/flags/in.svg" %></a>
                <a class="dropdown-item" href="#"><%= image_tag "koorabet/flags/ca.svg" %></a>
              </div>
            </div>
          </div>
          
        </div>
        <div class="bottom-header d-flex align-items-center">
          <div class="home-link d-none d-md-flex justify-content-between">
            <a href="#">Home</a>
            <a href="#">A - Z</a>
          </div>
          <div class="game-icons align-items-center d-flex">
            <ul class="d-flex">
              <li><a href="#"><span><i class="fas fa-futbol"></i></span>
                <p>Football</p></a></li>
              <li><a href="#"><span><i class="fas fa-basketball-ball"></i></span>
                <p>Basketball</p></a></li>
              <li><a href="#"><span><i class="fas fa-table-tennis"></i></span>
                <p>Tennis</p></a></li>
              <li><a href="#"><span><i class="fas fa-volleyball-ball"></i></span>
                <p>Vollyball</p></a></li>
              <li><a href="#"><span><i class="fas fa-hockey-puck"></i></span>
                <p>Casino</p></a></li>
            </ul>
          </div>
        </div>
      </header>
      <div class="middle-content d-flex">
        <div class="left-side">
          <div class="game-slider">
            <div class="owl-carousel owl-theme">
              <div class="item">
                <div class="d-flex justify-content-between league-detail">
                  <p><i class="fas fa-futbol"></i> <span>World Cup 2018</span></p>
                  <p>7/7/2018 <span>5:30 pm</span></p>
                </div>
                <div class="team-name d-flex justify-content-between align-items-center">
                  <p class="d-flex"><span class="mr-3"><%= image_tag "koorabet/flags/au.svg" %></span> Australia</p>
                  <p>-</p>
                  <p class="d-flex">United State <span class="ml-3"><%= image_tag "koorabet/flags/us.svg" %></span> </p>
                </div>
                <div class="team-odds">
                  <ul class="d-flex justify-content-between">
                    <li class="active"><span>1</span><a href="#">4.75 </a></li>
                    <li><span>X</span><a href="#">3.12 </a></li>
                    <li><span>2</span><a href="#">1.5 </a></li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="d-flex justify-content-between league-detail">
                  <p><i class="fas fa-futbol"></i> <span>World Cup 2018</span></p>
                  <p>7/7/2018 <span>5:30 pm</span></p>
                </div>
                <div class="team-name d-flex justify-content-between align-items-center">
                  <p class="d-flex"><span class="mr-3"><%= image_tag "koorabet/flags/au.svg" %></span> Australia</p>
                  <p>-</p>
                  <p class="d-flex">United State <span class="ml-3"><%= image_tag "koorabet/flags/us.svg" %></span> </p>
                </div>
                <div class="team-odds">
                  <ul class="d-flex justify-content-between">
                    <li class="active"><span>1</span><a href="#">4.75 </a></li>
                    <li><span>X</span><a href="#">3.12 </a></li>
                    <li><span>2</span><a href="#">1.5 </a></li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="d-flex justify-content-between league-detail">
                  <p><i class="fas fa-futbol"></i> <span>World Cup 2018</span></p>
                  <p>7/7/2018 <span>5:30 pm</span></p>
                </div>
                <div class="team-name d-flex justify-content-between align-items-center">
                  <p class="d-flex"><span class="mr-3"><%= image_tag "koorabet/flags/au.svg" %></span> Australia</p>
                  <p>-</p>
                  <p class="d-flex">United State <span class="ml-3"><%= image_tag "koorabet/flags/us.svg" %></span> </p>
                </div>
                <div class="team-odds">
                  <ul class="d-flex justify-content-between">
                    <li class="active"><span>1</span><a href="#">4.75 </a></li>
                    <li><span>X</span><a href="#">3.12 </a></li>
                    <li><span>2</span><a href="#">1.5 </a></li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="d-flex justify-content-between league-detail">
                  <p><i class="fas fa-futbol"></i> <span>World Cup 2018</span></p>
                  <p>7/7/2018 <span>5:30 pm</span></p>
                </div>
                <div class="team-name d-flex justify-content-between align-items-center">
                  <p class="d-flex"><span class="mr-3"><%= image_tag "koorabet/flags/au.svg" %></span> Australia</p>
                  <p>-</p>
                  <p class="d-flex">United State <span class="ml-3"><%= image_tag "koorabet/flags/us.svg" %></span> </p>
                </div>
                <div class="team-odds">
                  <ul class="d-flex justify-content-between">
                    <li class="active"><span>1</span><a href="#">4.75 </a></li>
                    <li><span>X</span><a href="#">3.12 </a></li>
                    <li><span>2</span><a href="#">1.5 </a></li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="d-flex justify-content-between league-detail">
                  <p><i class="fas fa-futbol"></i> <span>World Cup 2018</span></p>
                  <p>7/7/2018 <span>5:30 pm</span></p>
                </div>
                <div class="team-name d-flex justify-content-between align-items-center">
                  <p class="d-flex"><span class="mr-3"><%= image_tag "koorabet/flags/au.svg" %></span> Australia</p>
                  <p>-</p>
                  <p class="d-flex">United State <span class="ml-3"><%= image_tag "koorabet/flags/us.svg" %></span> </p>
                </div>
                <div class="team-odds">
                  <ul class="d-flex justify-content-between">
                    <li class="active"><span>1</span><a href="#">4.75 </a></li>
                    <li><span>X</span><a href="#">3.12 </a></li>
                    <li><span>2</span><a href="#">1.5 </a></li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="d-flex justify-content-between league-detail">
                  <p><i class="fas fa-futbol"></i> <span>World Cup 2018</span></p>
                  <p>7/7/2018 <span>5:30 pm</span></p>
                </div>
                <div class="team-name d-flex justify-content-between align-items-center">
                  <p class="d-flex"><span class="mr-3"><%= image_tag "koorabet/flags/au.svg" %></span> Australia</p>
                  <p>-</p>
                  <p class="d-flex">United State <span class="ml-3"><%= image_tag "koorabet/flags/us.svg" %></span> </p>
                </div>
                <div class="team-odds">
                  <ul class="d-flex justify-content-between">
                    <li class="active"><span>1</span><a href="#">4.75 </a></li>
                    <li><span>X</span><a href="#">3.12 </a></li>
                    <li><span>2</span><a href="#">1.5 </a></li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="d-flex justify-content-between league-detail">
                  <p><i class="fas fa-futbol"></i> <span>World Cup 2018</span></p>
                  <p>7/7/2018 <span>5:30 pm</span></p>
                </div>
                <div class="team-name d-flex justify-content-between align-items-center">
                  <p class="d-flex"><span class="mr-3"><%= image_tag "koorabet/flags/au.svg" %></span> Australia</p>
                  <p>-</p>
                  <p class="d-flex">United State <span class="ml-3"><%= image_tag "koorabet/flags/us.svg" %></span> </p>
                </div>
                <div class="team-odds">
                  <ul class="d-flex justify-content-between">
                    <li class="active"><span>1</span><a href="#">4.75 </a></li>
                    <li><span>X</span><a href="#">3.12 </a></li>
                    <li><span>2</span><a href="#">1.5 </a></li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="d-flex justify-content-between league-detail">
                  <p><i class="fas fa-futbol"></i> <span>World Cup 2018</span></p>
                  <p>7/7/2018 <span>5:30 pm</span></p>
                </div>
                <div class="team-name d-flex justify-content-between align-items-center">
                  <p class="d-flex"><span class="mr-3"><%= image_tag "koorabet/flags/au.svg" %></span> Australia</p>
                  <p>-</p>
                  <p class="d-flex">United State <span class="ml-3"><%= image_tag "koorabet/flags/us.svg" %></span> </p>
                </div>
                <div class="team-odds">
                  <ul class="d-flex justify-content-between">
                    <li class="active"><span>1</span><a href="#">4.75 </a></li>
                    <li><span>X</span><a href="#">3.12 </a></li>
                    <li><span>2</span><a href="#">1.5 </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex">
            <div class="left-side-nav">
              <a href="#" class="close-left d-lg-none">X</a>
              <ul class="nav-ul-left d-flex align-items-center flex-grow-1 nav d-lg-none">
                <li><a href="#">Sports Betting</a></li>
                <li><a href="#">Live Betting</a></li>
                <li><a href="#">Casino</a></li>
                <li><a href="#">Live Casino</a></li>
                <li><a href="#">Poker</a></li>
              </ul>
              <ul>
                <li><a href="#">Internation Horse Racing</a></li>
                <li><a href="#">Today’s Football</a></li>
                <li><a href="#">Today’s Basketball</a></li>
                <li><a href="#">Build a bet</a></li>
                <li><a href="#">Today’s Tennis</a></li>
                <li><a href="#">Price Boosts & Enhance</a></li>
                <li><a href="#">Live Betting</a></li>    
              </ul>
              <ul class="mt-4">
                <li><a href="#">Football</a></li>
                <li><a href="#">Europ (52)</a></li>
                <li><a href="#">Spain (88)</a></li>
                <li><a href="#">Germany (25)</a></li>
                <li><a href="#">Italy (10)</a></li>   
              </ul>
            </div>
            <div class="odds-section">
              <div class="banner">
                <%= image_tag "koorabet/banner.png" %>
              </div>
              <div class="odds-cover">
                <h2>Live Highlights</h2>
                <ul class="d-flex game-select">
                  <li class="active"><a href="#">Football</a></li>
                  <li><a href="#">Tennis</a></li>
                  <li><a href="#">Basketball</a></li>
                  <li><a href="#">Baseball</a></li>
                  <li><a href="#">Table Tennis</a></li>
                  <li><a href="#">Vollyball</a></li>
                  <li><a href="#">Cycling</a></li>
                </ul>
                <div class="odd-filter d-flex pb-5">
                  <table class="table">
                    <thead>
                      <tr>
                        <td>
                          <h3><i class="fas fa-futbol"></i> Football</h3>
                        </td>
                        <td>
                          <select>
                            <option>Result 1X2</option>
                          </select>
                        </td>
                        <td>
                          <select>
                            <option>Over/Under</option>
                          </select>
                        </td>
                        <td>
                          <select>
                            <option>Handicap 0:1</option>
                          </select>
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="body-head">
                        <td></td>
                        <td>
                          <ul>
                            <li>1</li>
                            <li>X</li>
                            <li>2</li>
                          </ul>
                        </td>
                        <td>
                          <ul>
                            <li>Goal</li>
                            <li>Over</li>
                            <li>Under</li>
                          </ul>
                        </td>
                        <td>
                          <ul>
                            <li>1</li>
                            <li>X</li>
                            <li>2</li>
                          </ul>
                        </td>
                      </tr>
                      <tr class="odds-row border-zero">
                        <td>
                          <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
                              <span>England <b class="d-block d-md-none">0</b></span>
                              <span class="d-none d-md-block">0 : 1</span>
                              <span>Spain <b class="d-block d-md-none">1</b></span>
                          </div>
                          <div class="w-100 mt-1">
                            <p><%= image_tag "koorabet/live-icon.png" %> 1st Half 35:00</p>
                          </div>
                        </td>
                        <td>
                          <ul>
                            <li><span></span><a href="#">4.75</a></li>
                            <li><span></span><a href="#">4.75</a></li>
                            <li><span></span><a href="#">4.75</a></li>
                          </ul>
                        </td>
                        <td>
                          <ul>
                            <li class="goals-column"><a href="#">2,5</a></li>
                            <li><span></span><a href="#">4.75</a></li>
                            <li><span></span><a href="#">4.75</a></li>
                          </ul>
                        </td>
                        <td>
                          <ul>
                            <li><span></span><a href="#">4.75</a></li>
                            <li><span></span><a href="#">4.75</a></li>
                            <li><span></span><a href="#">4.75</a></li>
                          </ul>
                        </td>
                      </tr>
                      <tr class="odds-row">
                        <td>
                          <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
                              <span>England <b class="d-block d-md-none">0</b></span>
                              <span class="d-none d-md-block">0 : 1</span>
                              <span>Spain <b class="d-block d-md-none">1</b></span>
                          </div>
                          <div class="w-100 mt-1">
                            <p><%= image_tag "koorabet/live-icon.png" %> 1st Half 35:00</p>
                          </div>
                        </td>
                        <td>
                          <ul>
                            <li><span></span><a href="#">4.75</a></li>
                            <li><span></span><a href="#">4.75</a></li>
                            <li><span></span><a href="#">4.75</a></li>
                          </ul>
                        </td>
                        <td>
                          <ul>
                            <li class="goals-column"><a href="#">2,5</a></li>
                            <li><span></span><a href="#">4.75</a></li>
                            <li><span></span><a href="#">4.75</a></li>
                          </ul>
                        </td>
                        <td>
                          <ul>
                            <li><span></span><a href="#">4.75</a></li>
                            <li><span></span><a href="#">4.75</a></li>
                            <li><span></span><a href="#">4.75</a></li>
                          </ul>
                        </td>
                      </tr>
                      <tr class="odds-row">
                        <td>
                          <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
                              <span>England <b class="d-block d-md-none">0</b></span>
                              <span class="d-none d-md-block">0 : 1</span>
                              <span>Spain <b class="d-block d-md-none">1</b></span>
                          </div>
                          <div class="w-100 mt-1">
                            <p><%= image_tag "koorabet/live-icon.png" %> 1st Half 35:00</p>
                          </div>
                        </td>
                        <td>
                          <ul>
                            <li><span></span><a href="#">4.75</a></li>
                            <li><span></span><a href="#">4.75</a></li>
                            <li><span></span><a href="#">4.75</a></li>
                          </ul>
                        </td>
                        <td>
                          <ul>
                            <li class="goals-column"><a href="#">2,5</a></li>
                            <li><span></span><a href="#">4.75</a></li>
                            <li><span></span><a href="#">4.75</a></li>
                          </ul>
                        </td>
                        <td>
                          <ul>
                            <li><span></span><a href="#">4.75</a></li>
                            <li><span></span><a href="#">4.75</a></li>
                            <li><span></span><a href="#">4.75</a></li>
                          </ul>
                        </td>
                      </tr>
                      <tr class="odds-row">
                        <td>
                          <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
                              <span>England <b class="d-block d-md-none">0</b></span>
                              <span class="d-none d-md-block">0 : 1</span>
                              <span>Spain <b class="d-block d-md-none">1</b></span>
                          </div>
                          <div class="w-100 mt-1">
                            <p><%= image_tag "koorabet/live-icon.png" %> 1st Half 35:00</p>
                          </div>
                        </td>
                        <td>
                          <ul>
                            <li><span></span><a href="#">4.75</a></li>
                            <li><span></span><a href="#">4.75</a></li>
                            <li><span></span><a href="#">4.75</a></li>
                          </ul>
                        </td>
                        <td>
                          <ul>
                            <li class="goals-column"><a href="#">2,5</a></li>
                            <li><span></span><a href="#">4.75</a></li>
                            <li><span></span><a href="#">4.75</a></li>
                          </ul>
                        </td>
                        <td>
                          <ul>
                            <li><span></span><a href="#">4.75</a></li>
                            <li><span></span><a href="#">4.75</a></li>
                            <li><span></span><a href="#">4.75</a></li>
                          </ul>
                        </td>
                      </tr>
                      <tr class="odds-row">
                        <td>
                          <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
                              <span>England <b class="d-block d-md-none">0</b></span>
                              <span class="d-none d-md-block">0 : 1</span>
                              <span>Spain <b class="d-block d-md-none">1</b></span>
                          </div>
                          <div class="w-100 mt-1">
                            <p><%= image_tag "koorabet/live-icon.png" %> 1st Half 35:00</p>
                          </div>
                        </td>
                        <td>
                          <ul>
                            <li><span></span><a href="#">4.75</a></li>
                            <li><span></span><a href="#">4.75</a></li>
                            <li><span></span><a href="#">4.75</a></li>
                          </ul>
                        </td>
                        <td>
                          <ul>
                            <li class="goals-column"><a href="#">2,5</a></li>
                            <li><span></span><a href="#">4.75</a></li>
                            <li><span></span><a href="#">4.75</a></li>
                          </ul>
                        </td>
                        <td>
                          <ul>
                            <li><span></span><a href="#">4.75</a></li>
                            <li><span></span><a href="#">4.75</a></li>
                            <li><span></span><a href="#">4.75</a></li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-side">
          <div class="betslip">
              <a href="#" class="close-betslip d-lg-none">X</a>
              <ul class="nav nav-tabs topnav">
                <li class="active"><a data-toggle="tab" href="#home">Bet Slip</a></li>
                <li><a data-toggle="tab" href="#menu1">My Bets</a></li>
              </ul>
              <div class="tab-content main-content">
                <div id="home" class="tab-pane in active">
                  <ul class="nav nav-tabs bottom-nav">
                    <li class="active"><a data-toggle="tab" href="#single">Single</a></li>
                    <li><a data-toggle="tab" href="#multi">Multi</a></li>
                    <li><a data-toggle="tab" href="#system">System</a></li>
                  </ul>
                  <div class="tab-content">
                    <div id="single" class="tab-pane in active">
                      <div class="bet-item-cover">
                        <div class="bet-item">
                        <div class="d-flex">
                        <%= image_tag "koorabet/checkmark.png" %>
                        <p>
                          <b>Aston Villa</b>
                          <span>
                            Match Result Aston Villa - Leeds united
                          </span>
                        </p>
                        </div>
                        <p>+115</p>
                        </div>
                        <div class="bet-item">
                        <div class="d-flex">
                        <%= image_tag "koorabet/checkmark.png" %>
                        <p>
                          <b>Aston Villa</b>
                          <span>
                            Match Result Aston Villa - Leeds united
                          </span>
                        </p>
                        </div>
                        <p>+115</p>
                        </div>
                      </div>
                    </div>
                    <div id="multi" class="tab-pane">
                      b
                    </div>
                    <div id="system" class="tab-pane">
                      v
                    </div>
                    <div class="betslip-bottom">
                        <div class="d-flex justify-content-between stack">
                          <p>Stack</p>
                          <input type="text" placeholder="stack">
                        </div>
                        <div class="d-flex justify-content-between stack">
                          <span>Possible Winnings</span>
                          <span>10.75 USD</span>
                        </div>
                        <button>Place a Bet</button>
                      </div>
                  </div>
                </div>
                <div id="menu1" class="tab-pane fade">
                  <h3>Menu 1</h3>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
          </div>
          <div class="main-games">
            <h3>Main Games</h3>
            <ul>
              <li><%= image_tag "koorabet/1.png" %></li>
              <li><%= image_tag "koorabet/2.png" %></li>
              <li><%= image_tag "koorabet/3.png" %></li>
              <li><%= image_tag "koorabet/4.png" %></li>
              <li><%= image_tag "koorabet/5.png" %></li>
              <li><%= image_tag "koorabet/6.png" %></li>
              <li><%= image_tag "koorabet/1.png" %></li>
              <li><%= image_tag "koorabet/2.png" %></li>
              <li><%= image_tag "koorabet/3.png" %></li>

            </ul>
          </div>
        </div>
      </div>
      <footer>
        <div class="top-footer">
          <div class="d-flex flex-wrap flex-md-nowrap align-items-center">
            <p>Download Koorabet App</p>
            <div class="app-download-btn">
              <a href="#"><%= image_tag "koorabet/app-store.png" %></a>
              <a href="#"><%= image_tag "koorabet/g-play.png" %></a>
            </div>
          </div>
        </div>
        <div class="dropdown lang-drop">
              <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <%= image_tag "koorabet/flags/us.svg" %> 
                US
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                <a class="dropdown-item" href="#"><%= image_tag "koorabet/flags/in.svg" %> IN</a>
                <a class="dropdown-item" href="#"><%= image_tag "koorabet/flags/ca.svg" %> CA</a>
              </div>
            </div>
        <div class="botton-footer">
          <ul>
            <h3>Sports</h3>
            <li><a href="#">Sport Betting</a></li>
            <li><a href="#">Live betting</a></li>
            <li><a href="#">Football Tennis</a></li>
            <li><a href="#">Basketball Champions</a></li>
            <li><a href="#">League Formula1</a></li>
            <li><a href="#">Premier League</a></li>
          </ul>
          <ul>
            <h3>&nbsp;</h3>
            <li><a href="#">Sport Betting</a></li>
            <li><a href="#">Live betting</a></li>
            <li><a href="#">Football Tennis</a></li>
            <li><a href="#">Basketball Champions</a></li>
            <li><a href="#">League Formula1</a></li>
            <li><a href="#">Premier League</a></li>
          </ul>
          <ul>
            <h3>Play Now</h3>
            <li><a href="#">Online Sports</a></li>
            <li><a href="#">Live Casino</a></li>
            <li><a href="#">Online Slots</a></li>
          </ul>
          <ul>
            <h3>Promotions</h3>
            <li><a href="#">Sports</a></li>
            <li><a href="#">Poker</a></li>
            <li><a href="#">Casino</a></li>
          </ul>
          <ul>
            <h3>About us</h3>
            <li><a href="/privacy">Privacy policy</a></li>
            <li><a href="/tnc">Terms and Conditions</a></li>
            <li><a href="/responsible">Responsible Gaming</a></li>
            <li><a href="/tnc">System Fairness</a></li>
            <li><a href="/help">Help & Contacts</a></li>
          </ul>
        </div>
        <p class="footer-content">
          Koorabet uses cookies to help improve your experience whilst visiting our site, help us with fraud prevention and to fulfil our legal and regulatory obligations. Please read our Cookie Policy for further information on how we use information obtained from cookies and how to change your cookie settings
        </p>
        <div class="pay-img">
          <a href="#"><%= image_tag "koorabet/visa.png" %></a>
          <a href="#"><%= image_tag "koorabet/fast-pay.png" %></a>
        </div>
      </footer>
      <div class="res-betslip-btn" >
          <button>Betslip</button>
      </div>
  </div>
</section>