<a href="">
  <i class="fa fa-sort-down"></i>
  <span class="nav-label">
    Add Data
  </span>
  <span class="fa arrow"></span>
</a>

<ul class="nav nav-second-level collapse">
  <li><%= link_to "Language", admin_languages_path %></li>
  <li><%= link_to "Dialect", admin_dialects_path %></li>
  <li><%= link_to "Occupation", admin_occupations_path %></li>
  <li><%= link_to "Organization", admin_organizations_path %></li>
  <li><%= link_to "Topics", admin_topics_path %></li>
</ul>
