<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%= t('admin.dashboard.profit.name') %></h5>
      </div>
      <div class="ibox-content">
        <table class="table">
          <thead style="background: #d3d3d32b">
            <tr>
              <th><%= t('admin.dashboard.profit.bet_sport') %></th>
              <th><%= t('admin.dashboard.profit.win_sport') %></th>
              <!-- <th><%#= t('admin.dashboard.profit.bet_esport') %></th> -->
              <!-- <th><%#= t('admin.dashboard.profit.win_esport') %></th> -->
              <th><%= t('admin.dashboard.profit.bet_casino') %></th>
              <th><%= t('admin.dashboard.profit.win_casino') %></th>
              <th><%= t('admin.dashboard.profit.bet_slot') %></th>
              <th><%= t('admin.dashboard.profit.win_slot') %></th>
            </tr>
          </thead>
          <tbody class="table-bordered">
            <tr>
              <td id="bet-sport"><span class="data" data-current=""></span>
                <span class="text-navy sign">
                  <%# <i class="fa fa-play fa-rotate-270"></i> %>
                </span>
              </td>
              <td id="win-sport"><span class="data" data-current=""></span>
                <span class="text-navy sign">
                  <%# <i class="fa fa-play fa-rotate-270"></i> %>
                </span>
              </td>
<!--               <td id="bet-esport"><span class="data" data-current=""></span>
                <span class="text-navy sign">
                  <%# <i class="fa fa-play fa-rotate-270"></i> %>
                </span>
              </td>
              <td id="win-esport"><span class="data" data-current=""></span>
                <span class="text-navy sign">
                  <%# <i class="fa fa-play fa-rotate-270"></i> %>
                </span>
              </td> -->
              <td id="bet-casino"><span class="data" data-current=""></span>
                <span class="text-navy sign">
                  <%# <i class="fa fa-play fa-rotate-270"></i> %>
                </span>
              </td>
              <td id="win-casino"><span class="data" data-current=""></span>
                <span class="text-navy sign">
                  <%# <i class="fa fa-play fa-rotate-270"></i> %>
                </span>
              </td>
              <td id="bet-slot"><span class="data" data-current=""></span>
                <span class="text-navy sign">
                  <%# <i class="fa fa-play fa-rotate-270"></i> %>
                </span>
              </td>
              <td id="win-slot"><span class="data" data-current=""></span>
                <span class="text-navy sign">
                  <%# <i class="fa fa-play fa-rotate-270"></i> %>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
