<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th><%= t('admin.dashboard.sports_overview.total') %></th>
    </tr>
  </thead>
  <tbody>
    <tr class="gradeX">
      <td class="center"><b><%= t('admin.dashboard.sports_overview.turnover') %></b></td>
      <td class="center"><%= format_currency(amount: filter.finance.turnover.total) %></td>
    </tr>
    <tr class="gradeX">
      <td class="center"><b><%= t('admin.dashboard.sports_overview.winning') %></b></td>
      <td class="center"><%= format_currency(amount: filter.finance.winning_amount.total) %></td>
    </tr>
    <tr class="gradeX">
      <td class="center"><b><%= t('admin.dashboard.sports_overview.profitability') %></b></td>
      <td class="center"><%= format_currency(amount: filter.finance.profitability.total) %></td>
    </tr>
    <tr class="gradeX">
      <td class="center"><b><%= t('admin.dashboard.sports_overview.average_bet') %></b></td>
      <td class="center"><%= format_currency(amount: filter.finance.average_bet.total) %></td>
    </tr>
    <tr class="gradeX">
      <td class="center"><b><%= t('admin.dashboard.sports_overview.number_of_players') %></b></td>
      <td class="center"><%= filter.finance.number_of_players.total %></td>
    </tr>
  </tbody>
</table>
