<p>Error found at <%= Time.zone.now %></p>
<p>Params</p>
<p><%= @params %></p>
<p>------------------------------------------------------</p>
<p>Session Transaction</p>
<p><%= @s_trnsaction %></p>
<p>------------------------------------------------------</p>
<p>Exist Alredy Refund Session Trnsaction</p>
<p><%= @e_rst %></p>
<p>------------------------------------------------------</p>
<p>Error:</p>
<p><%= @error %></p>




