<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><%= t('admin.transactions') %></h2>
    <h5><%= email_or_username(@user) %></h5>
    <!-- <h5>Balance: <%#= number_with_precision(@user.available_amount, precision: 2) %></h5> -->
  </div>
  <div class="col-lg-2">
    <div class="back-btn">
      <%= link_to :back, class: 'btn btn-primary' do %>
        <span class="fa fa-arrow-circle-o-left"></span> Back
      <% end %>
    </div>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <%= render 'admin_user_ledgers_filter' %>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>List</h5>
        </div>
        <div class="ibox-content">
          <div class="table-responsive" id='ledgers_list'>
            <%= render 'list' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
