<div class="panel panel-default">
  <div class="panel-heading">
    <h5 class="panel-title">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTransactionFilter">Filter</a>
    </h5>
  </div>
  <div id="collapseTransactionFilter" class="panel-collapse collapse">
    <%= form_with(url: search_admin_user_ledgers_path(@user), method: "get") do %>
      <div class="panel-body-custom">
          <table class="filter-table">
            <tr>
              <th>Transaction ID</th>
              <th>Payment System</th>
              <th>Date and Time</th>
              <th>Transaction Type</th>
            </tr>
            <tr>
              <td>
                <%= text_field_tag :transaction_id, nil, class: 'form-control', placeholder: 'Transaction ID', autocomplete: "off" %>
              </td>
              <td>
                <%= select_tag :payment_system, options_for_select(payment_system_options), { class: "form-control", :prompt => "All" } %>
              </td>
              <td>
                <%= text_field_tag :created_at, nil, class: 'date-range form-control', placeholder: 'Select date range', data: { behavior: 'daterangepicker' }, autocomplete: "off" %>
                <%= hidden_field_tag :created_at_start_date, nil, class: 'start-date' %>
                <%= hidden_field_tag :created_at_end_date, nil, class: 'end-date' %>
              </td>
              <td>
                <%= select_tag :transaction_type, options_for_select(transaction_type_options), { class: "form-control", :prompt => "All" } %>
              </td>
            </tr>

            <tr>
              <th>Min Amount</th>
              <th>Max Amount</th>
              <th>Status</th>
            </tr>
            <tr>
              <td>
                <%= text_field_tag :min_amt, nil, class: 'form-control only-numeric', placeholder: 'Min Amount', autocomplete: "off" %>
              </td>
              <td>
                <%= text_field_tag :max_amt, nil, class: 'form-control only-numeric', placeholder: 'Max Amount', autocomplete: "off" %>
              </td>
              <td>
                <%= select_tag :status, options_for_select(transaction_status_options), { class: "form-control", :prompt => "All" } %>
              </td>
            </tr>
          </table>
      </div>
      <div class="panel-footer">
        <div class="col-sm-offset-10">
          <button class="btn btn-sm btn-primary search">Apply</button>
          <button class="btn btn-sm btn-danger reset">Reset</button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'admin/list_filter' %>

<script>
  $(".only-numeric").bind("keypress", function (e) {
    var keyCode = e.which ? e.which : e.keyCode
    if (!(keyCode >= 48 && keyCode <= 57)) {
      return false;
    }       
  });

  $('.reset').on('click', () => {
    $("#transaction_id").val('');
    $("#payment_system").val('');
    $("#created_at").val('');
    $("#created_at_start_date").val('');
    $("#created_at_end_date").val('');
    $("#transaction_type").val('');
    $("#min_amt").val('');
    $("#max_amt").val('');
    $("#status").val('');
    $('.search').trigger('click');
  });
</script>