<section class="main-section">
  <div class="ac-heading">
    <h2 class="text-center">
      Change your password.
    </h2>
  </div>
  <div class="account-fields width60">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'change_password_form', method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>

      <div class="full-width">
        <div class="col-md-12 col-sm-12 col-xs-12 margin">
          <label>New password* </label>
          <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "Password" %>
        </div>
      
        <div class="col-md-12 col-sm-12 col-xs-12 margin">
          <label>Confirm new password* </label>
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off", placeholder: "Password Confirmation" %>
        </div>  
      </div>

      <div class="full-width">
        <div class="col-md-12 col-sm-12 col-xs-12 margin">
          <div>
            <%= button_tag "Change my password", class: 'green-btn' %>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</section>

<script>
  validateChangePassword();
</script>