<section class="main-section">
  <div class="wrapper d-block h-100 w-100">
    <header>
      <div class="d-flex w-100 flex-wrap flex-md-nowrap top-header align-items-center justify-content-between ">
        <div class="logo-cover d-flex justify-content-center justify-content-md-start">
          <a href="#" class="logo">
            <%= image_tag "koorabet/logo.png" %>
          </a>
        </div>
        <ul class="d-lg-none align-items-center flex-grow-1 nav d-none">
          <li><a href="#">Sports Betting</a></li>
          <li><a href="#">Live Betting</a></li>
          <li><a href="#">Casino</a></li>
          <li><a href="#">Live Casino</a></li>
          <li><a href="#">Poker</a></li>
        </ul>
        <div class="button-login d-flex">
          <button class="menu-resp d-none"><i class="fas fa-bars"></i></button>
          <button class="d-none">Login</button>
          <button class="d-none">Register</button>
          <div class="dropdown lang-drop">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <%= image_tag "koorabet/flags/us.svg" %> 
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
              <a class="dropdown-item" href="#"><%= image_tag "koorabet/flags/in.svg" %></a>
              <a class="dropdown-item" href="#"><%= image_tag "koorabet/flags/ca.svg" %></a>
            </div>
          </div>
        </div>

      </div>
      <div class="bottom-header align-items-center d-none">
        <div class="home-link d-none d-md-flex justify-content-between">
          <a href="#">Home</a>
          <a href="#">A - Z</a>
        </div>
        <div class="game-icons align-items-center d-flex">
          <ul class="d-flex">
            <li><a href="#"><span><i class="fas fa-futbol"></i></span>
                <p>Football</p>
              </a></li>
            <li><a href="#"><span><i class="fas fa-basketball-ball"></i></span>
                <p>Basketball</p>
              </a></li>
            <li><a href="#"><span><i class="fas fa-table-tennis"></i></span>
                <p>Tennis</p>
              </a></li>
            <li><a href="#"><span><i class="fas fa-volleyball-ball"></i></span>
                <p>Vollyball</p>
              </a></li>
            <li><a href="#"><span><i class="fas fa-hockey-puck"></i></span>
                <p>Casino</p>
              </a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="middle-content static-middle d-flex">
      <div class="static-menu">
        <h3>General Information</h3>
        <ul>
          <li><a href="/tnc">General Terms and Condition</a></li>
          <li><a href="/responsible">Responsible Gaming </a></li>
          <li><a href="/privacy">Privacy Policy</a></li>
          <li class="active"><a href="/help">Help</a></li>
        </ul>
      </div>
      <div class="static-content">
        <!---->
        <h1>Help</h1>
        <div class="general-text-list" ng-bind-html="selectedPage.content">
          <p><strong><u>Contacts</u></strong></p>

          <p><strong><em><u>1. How can we contact you?</u></em></strong></p>

          <p>You can contact us using the following means:</p>

          <p>Send us an email via our support email address <a href="mailto:support@koorabet.com"><u>support@koorabet.com</u></a> or
            the “Send a Message” option on the “My Profile” page.</p>

          <p>Connect directly to our support managers via Live Chat.</p>

          <p><strong><u>Registration</u></strong></p>

          <p><strong><em>1. Why do I need to be registered?</em></strong></p>

          <p>Registration on <strong><em>Koorabet</em></strong> website is a condition for using all the products available
            on the website. Registration entitles you to open a <strong><em>Koorabet</em></strong> account free-of-charge
            and without obligations. Use the account to manage your bets and personal data. You can make bets with real money
            after you replenish your account.</p>

          <p><strong><em><u>2. How can I register on your website?</u></em></strong></p>

          <p>To register on our website visit the “Register” section in the upper right corner. Please be careful and take
            into account the proposed registration requirements in order to avoid further problems. We recommend that you get
            acquainted with our rules in advance.</p>

          <p><strong><em><u>3. Why should I specify my personal data when registering?</u></em></strong></p>

          <p>The accuracy of your data is a condition of using our products. Management of your money in your
            <strong><em>Koorabet </em></strong>account is implemented in a similar way to a bank account. We need to know
            your first name and last name, as well as your current residential address. By entering your date of birth you
            verify that you are of legal age to use the services of <strong><em>Koorabet</em></strong>. It is important for
            us to have your email address so that if you forget your password or want us to send you notifications, we will be
            able to get in touch with you by email.</p>

          <p><strong><em><u>4. Why is it necessary to fill in the passport details?</u></em></strong></p>

          <p>This is done for security purposes. In the case of winnings you will only be able to receive them if you present
            your identification document.</p>

          <p><strong><em><u>5</u></em></strong><em><u>.<strong> Where can I see my account number?</strong></u></em></p>

          <p>You can see your account (ID) number, which was given by the company in the “My Profile” page, “My Data” section
            ID: 19…..:</p>

          <p><strong><em><u>6. Do I undertake any obligations by registering on the Koorabet website?</u></em></strong></p>

          <p>No. Your registration does not bind you in any way and you are not obligated to make regular deposits or place a
            certain number of bets. However, by registering you agree to our General Terms&nbsp;and Conditions (GTC).</p>

          <p><strong><em><u>7. Can I change my personal data after registration?</u></em></strong></p>

          <p>Please note that you will no longer be able to modify your basic data, such as your first name and last name,
            date of birth, the currency of your account in <strong><em>Koorabet</em></strong> or the country settings.
            Seriousness and trustworthiness are the top priorities for <strong><em>Koorabet</em></strong>. You will,
            however, still be able to change other data even after registration. In special cases (e.g. the personal data was
            filled incorrectly, etc.), <strong><em>Koorabet </em></strong>will verify and accept changes to your basic data
            if you submit the corresponding confirming document.</p>

          <p><strong><em><u>8. I don’t want to deposit money right after registration. Do I have to?</u></em></strong></p>

          <p>You don’t need to make a deposit immediately. You may make a deposit whenever you like by using the “Deposit”
            option.</p>

          <p><strong><em><u>9. In what cases is the account blocked</u></em></strong></p>

          <p>The company reserves the right to block your account if:</p>

          <p>Your style of betting does not comply with the rules of our company. Your account is replenished by mistake.</p>

          <p>You use obscene phrases during telephone or “Chat” conversations.</p>

          <p>To find out why your account has been blocked, please contact our support managers.</p>

          <p><strong><em><u>10</u></em></strong><em><u>.<strong> What should I do if I have forgotten my password or
                  username?</strong></u></em></p>

          <p>Try to restore it on our website using the “Forgot Password?” option. In some cases (e.g. if the email address is
            wrong or if there are any technical inaccuracies etc.) it can’t be restored. You should contact our support
            managers.</p>

          <p><strong><em><u>11. Can anyone else get access to my account?</u></em></strong></p>

          <p>This may happen if you log out from your page without clicking on the “Log out” button and closing the page using
            the exit “X” button.</p>

          <p><strong><em><u>12. What should I do if another person learns my password/username?</u></em></strong></p>

          <p>You should immediately inform the support managers about it. We will block your account and try to solve this
            problem.</p>

          <p>I would do this if you are not giving out a direct email for Risk Management.</p>

          <p><strong><u>Making a bet and calculation</u></strong></p>

          <p><strong><em><u>1. How to make a bet?</u></em></strong></p>

          <p>First, log in with your username and password. Select one or several bets from our line-up and use the mouse to
            click on an estimated outcome. Your bet will then appear in the bet slip on the right-hand side of the page. Next,
            specify the amount you wish to stake and your preferred type of bet (single, system or chain). In the third and
            final phase, you can either confirm the bet or cancel it. Please note that our GTCs do not permit the cancelation
            of any bets once they have been placed.</p>

          <p><strong><em><u>2. What are the types of bets?</u></em></strong></p>

          <p>At <strong><em>Koorabet</em></strong> you can choose different types of bets. Starting with one prediction, you
            can use the “Single” bet option (single), with two or more predictions you can place “Express” bets, and with
            three or more predictions you can place a “System” or “Chain” bet. And if you would prefer to place “Single” or
            “System” bets, you need to select the desired option.</p>

          <p><strong><em><u>3. What is a “Single” bet?</u></em></strong></p>

          <p>A “Single” bet is the simplest form of betting. You predict an outcome, specify the desired stake and place the
            bet. If your prediction is correct, you win the bet. The winnings are calculated by multiplying the odds by the
            stake.</p>

          <p><strong><em><u>4. What is an “Express” bet and how is it calculated?</u></em></strong></p>

          <p>“Express” is a bet consisting of two or more events in which a necessary condition is that none of the events
            should lose. “Express” bets’ total odds are calculated by multiplying the odds of all the individual predictions.
          </p>

          <p><strong><em><u>5. Which bets can be combined to form an “Express” bet?</u></em></strong></p>

          <p>The vast majority of the offered bets may be combined freely in an “Express” bet. There are a few exceptions,
            however, such as certain Formula – 1 bets that can only be placed as “Single” bets. The bookmakers decide which
            bets can be combined, and their decision is based on various factors, such as the respective game or the event.
            You will be informed of their decision by the time the bets are placed. Please note: several bets on the same
            event/outcome cannot be placed as an “Express” or “System” bet.</p>

          <p><strong><em><u>6.&nbsp;&nbsp; What is the ”Chain” bet and how is it calculated?</u></em></strong></p>

          <p>A “Chain” bet is a combination of “Single” bets independent from each other. A necessary condition is winning the
            first event. The procedure of chain calculation depends on the order of bets mentioned in the given ticket. From
            the winning of the first event the sum equal to the bet for the second event is removed and the added sum makes
            the “Chain account”. If the next event is lost, the sum of the “Chain account” is used. Each next event is
            calculated by this principle. If the sum on the chain account is less than the sum of the first single bet – in
            the following event the single bet is counted proceeding from what is left in the account. If there isn’t any
            money left in the chain account, the chain is interrupted and the bet is lost. In the case of a win, the amount
            depends on the number of the events won and what their coefficients are.</p>

          <p><strong><em>Let’s consider this example:</em></strong></p>

          <p>&nbsp;</p>

          <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>Leg</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>Event</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>Stake</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>Odds</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>Outcome</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td rowspan="2">
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>1</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>event</p>
                </td>
                <td>
                  <p>$3</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>2odd.</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>Win</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td rowspan="2">
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>2</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>event</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>1.5</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>Win</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td rowspan="2">
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>3</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>event</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>2</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>Lose</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td rowspan="2">
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>4</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>event</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>3</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>Win</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td rowspan="2">
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>5</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>event</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>1.5</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>Lose</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
                <td>
                  <p>&nbsp;</p>
                </td>
              </tr>
            </tbody>
          </table>

          <p>As a result of the first event ~ $6 is generated, from which ~ $3 is transferred to the next event as the sum of
            the bet. And ~ $3 is transferred to the “chain account”. From the second event being won ~$4.50 is generated, from
            which ~ $3 is transferred as a bet sum for the next event, and the&nbsp;remaining ~$1.50 is transferred to the
            “chain account” and the sum is ~ $4.50. As the third event is lost, ~ $3 is taken from the chain account for the
            fourth event, and only ~ $1.5 remains in the account. After the win fourth event is won ~ $9 is generated , ~ $3
            of this sum is transferred as the bet sum for the fifth event and ~ $6 is added to the “chain account”, and the
            sum of the chain account becomes ~ $7.50. The fifth event is lost; this means that the winnings of this chain are
            ~ $7.50, the same amount as in the “chain account”.</p>

          <p><strong><em><u>7. What is the “System” bet? How is it calculated and how much is the minimum sum of each
                  bet?</u></em></strong></p>

          <p>“System” is a bet which consists of at least three events. The program forms variants of the events you have
            selected. For example, if you select a 2/5 system, it means that at least 2 events from 5 must win for the bet to
            win. The minimum sum of each bet depends on the selection of the system.</p>

          <p><strong><u>8. What is a “Handicap”?</u></strong></p>

          <p>A handicap is a head start given to a selection expressed in goals/points/sets/frames etc. depending on the type
            of the competition. The handicap is offered by the bookmaking company and it can be “positive” (1), “negative”
            (-1) and “zero”. For example, if you made a bet on “Handicap 1(2)” on a football match, this means you allowed
            Team 1 a 2 - goal ‘head start’.<br>
            • If the match ends 1-1, then adding the handicap will produce a score of 3-1 and the bet will win.<br>
            • If the match ends 0-3, then adding the handicap will produce a score of 2-3 and the bet will lose.<br>
            • If the match ends 0-2, then adding the handicap will produce a score of 2-2 and the bet will result in a<br>
            push.<br>
            • If the handicap is “negative”, you need to subtract rather than add.</p>

          <p><br>
            This kind of stakes are counted equally.</p>

          <p>Let us consider a few other options of a handicap.</p>

          <p>Bet W1 Handicap (-1) can win only when the first team wins the match by two goals.</p>

          <p>Bet W2 Handicap (1) can win only when the second team does not lose the match (draw or victory of the second
            team).</p>

          <p>Bet X Handicap (1) can win only when the first team wins the match by one goal (or when the second team loses by
            one goal).</p>

          <p>Bet X Handicap (-1) can win only when the first team loses the match by one goal (if the second team wins by one
            goal).</p>

          <p>Bet W1 Handicap (-2) can win only when the first team wins the match by three goals.</p>

          <p>Bet W2 Handicap (2) can win only in the following result of the match:</p>

          <p>A draw</p>

          <p>The victory of the first team by&nbsp; one goal</p>

          <p>The victory of the weak team.</p>

          <p>Bet X Handicap (2) can win only when the first team wins by two goals.</p>

          <p>Bet X Handicap (-2) can win only when the first team loses by two goals (or the second team wins by two goals).
          </p>

          <p><strong><em><u>9</u></em></strong><em><u>.<strong> What is a “Double”?</strong></u></em></p>

          <p>A “Double” bet means that one of the players of the two teams should score two or more goals during the given
            match.</p>

          <p><strong><em><u>10. What is a “Hattrick”?</u></em></strong></p>

          <p>A “Hattrick” bet means that one of the players of the two teams should score three or more goals during the given
            match.</p>

          <p><strong><em><u>11. What is “Poker”?</u></em></strong></p>

          <p>A “Poker” bet means that one of the players of two teams should score four or more goals during the given match.
          </p>

          <p><strong><em><u>12. What do W1W2 / W1X /X W2 and other bets mean?</u></em></strong></p>

          <p>In this kind of bet the first symbol shows the result of the first half, and the second symbol shows the result
            of the game. For example, W1W2 bet means that the first team has won in the first half but the second team has won
            in the total game. W1 X bet means that the first team has won in the first half, and the overall game has ended in
            a draw.</p>

          <p><strong><em><u>13. What goal betting tips do you offer? </u></em></strong></p>

          <p>The following ways of scoring can be distinguished: direct free kick, penalty kick, header, own goal, etc.</p>

          <p><strong><em><u>14. When I try to place a bet, I get a message that I have exceeded the winnings limit.
                  How&nbsp;high is the winnings limit?</u></em></strong></p>

          <p>Our bookmakers are entitled to set lower winnings limits per bet. You will be informed of this directly when you
            place your bet.</p>

          <p>There may be various reasons for changing a winnings limit, depending on the supply and demand for a bet. Please
            note that winnings limits may also be lowered for a short time when our bookmakers update the odds. It is usually
            possible to place the same bet with higher stakes shortly thereafter. In the meantime, however, the odds may also
            have been changed.</p>

          <p><strong><em><u>15. What is the minimum/maximum size of the bet?</u></em></strong></p>

          <p>The maximum amount of one bet is defined by the maximum amount of the winnings specified above. If when choosing
            a bet you have received a message that the amount of your bet exceeds the maximum amount, reduce the amount of the
            bet accordingly. The minimum amount of a bet is ~$ 0.10.</p>

          <p><strong><em><u>16. What are the maximum winnings of the bet?</u></em></strong></p>

          <p>The maximum winnings of one ticket is ~$13300. If the bet comes with a bonus, and thereby the winning sum exceeds
            $13300, the bonus is not paid.</p>

          <p><strong><em><u>17. What is the maximum coefficient?</u></em></strong></p>

          <p>The maximum coefficient of a bet is 1000. In case it exceeds 1000, the winning is calculated with a 1000
            coefficient.</p>

          <p><strong><em><u>18. How it is possible to remove the prediction chosen by me from the coupon?</u></em></strong>
          </p>

          <p>Separate predictions can be removed, by clicking directly on the “X” button on the right side of the coupon.</p>

          <p><strong><em><u>19. I have placed a bet by mistake. Can I ask for my bet to be cancelled?</u></em></strong></p>

          <p>Unfortunately, in accordance with the Terms and Conditions we are not allowed to cancel bets once they have been
            placed. According to our General Terms and Conditions, a bet is considered to be placed as soon as it is displayed
            in your betting account under “My bets”.</p>

          <p>Before you confirm a bet, you can cancel it in the bet slip and not place the bet. However, once you have
            confirmed the bet in the coupon your bet is accepted and can no longer be cancelled.</p>

          <p><strong><em><u>20. How can I check whether my bet has been accepted?</u></em></strong></p>

          <p>As soon as you have confirmed the bet in the coupon, by pressing the button “Make a Bet”, you will receive a
            confirmation of acceptance if the bet has been placed successfully. Each bet that you place will appear in your
            betting account under “Bet History”.</p>

          <p><strong><u>21. In what case are the bets cancelled?</u></strong></p>

          <p>Bets are cancelled if there is an inaccuracy in the names of players or teams, if there is wrong odds offered, a
            wrong total, a wrong handicap etc. In this case the selection is made Void.</p>

          <p><strong><u>22. What happens in the event of match postponement/cancellation?</u></strong></p>

          <p>The calculation is made as Void depending on the timeframes specified by sport in our Rules. In the&nbsp;case of
            an “Express” or “System” bet the selection is considered Void.</p>

          <p><strong><u>23. How is a football match calculation made if the match ended in overtime or a penalty
                shoot-out?</u></strong></p>

          <p>All football bets are settled only for the 90 minute result (Full-time), excluding extra time and penalty
            shoot-outs, unless otherwise stipulated by Koorabet.com. According to Koorabet’s rules, the Full-time includes
            the stoppage time in the match.</p>

          <p><strong><em><u>24. How is the double yellow card of a player calculated?</u></em></strong></p>

          <p>The second yellow card leading to the player’s dismissal is considered to be red, which means the player has one
            yellow card and one red card.</p>

          <p><strong><em><u>25. How is a basketball game calculation made?</u></em></strong></p>

          <p>The results for all bets on the game are made taking into account overtime, unless stated otherwise. An
            exception: the bets on the winner of the match, in which there is an option of a “draw”, are offered only on the
            regular time, not taking into account the overtime.</p>

          <p><strong><em><u>26. How is a hockey match calculation made?</u></em></strong></p>

          <p>The bets on National and International Ice Hockey championships, are calculated according to the main time of the
            matches, unless otherwise mentioned.</p>

          <p><strong><em><u>27. How is a bet calculated if one of the tennis players refuses to continue the
                  game?</u></em></strong></p>

          <p>If one of the tennis players refuses to continue the game (or is disqualified), then in all the following games
            and sets he/she is considered to be defeated, and the payment is made according to the received results.</p>

          <p><strong><em><u>28. When shall I get back my money if the match did not take place as planned? </u></em></strong>
          </p>

          <p>If the match is interrupted for more than 30 hours, all bets are returned, except for those, where the result was
            accurately predicted before&nbsp;the&nbsp;match&nbsp;was&nbsp;interrupted.</p>

          <p><strong><em><u>29. Why is the calculation of my bets delayed?</u></em></strong></p>

          <p>The calculation is usually made as quickly as possible. The calculation of online games is made immediately
            during the game; the calculation of offline games will be made as soon as a game ends, no matter what kind of bet
            you have made. But the calculation can be sometimes delayed due to some objective reasons: the absence of
            information about the results, the same event with different information on various websites, technical problems,
            etc.</p>

          <p><strong><em><u>30. What should I do if my bet is calculated incorrectly?</u></em></strong></p>

          <p>In this case you should call the Live Support department of the central office. The specialists will check your
            bet, and if it turns out that the bet is really calculated incorrectly, your winnings will be added to your game
            account.</p>

          <p><strong><em><u>31. How long should an interrupted match be held for to be considered finished?</u></em></strong>
          </p>

          <p>The matches are considered to have taken place, if they have been interrupted and not finished in the timeframe
            specified in points 6 and 7 of the Terms and Conditions, and if the time played is the following:</p>

          <p><em><img alt="" src="file:///C:\Users\KARINE~1.HOV\AppData\Local\Temp\msohtmlclip1\01\clip_image001.jpg">
              &nbsp;Soccer – 70 min.</em></p>

          <p><em><img alt="" src="file:///C:\Users\KARINE~1.HOV\AppData\Local\Temp\msohtmlclip1\01\clip_image001.jpg">
              &nbsp;Futsal – 30 min.</em></p>

          <p><img alt="" src="file:///C:\Users\KARINE~1.HOV\AppData\Local\Temp\msohtmlclip1\01\clip_image001.jpg">
            <em>&nbsp;Basketball NBA (National Basketball Association) – 40 min.</em></p>

          <p><img alt="" src="file:///C:\Users\KARINE~1.HOV\AppData\Local\Temp\msohtmlclip1\01\clip_image001.jpg">
            <em>&nbsp;Eurobasketball – 35 min.</em></p>

          <p><img alt="" src="file:///C:\Users\KARINE~1.HOV\AppData\Local\Temp\msohtmlclip1\01\clip_image001.jpg">
            <em>&nbsp;Hockey NHL (National Hockey League) – 54 min.</em></p>

          <p><img alt="" src="file:///C:\Users\KARINE~1.HOV\AppData\Local\Temp\msohtmlclip1\01\clip_image001.jpg">
            <em>&nbsp;Bandy – 60 min.</em></p>

          <p><img alt="" src="file:///C:\Users\KARINE~1.HOV\AppData\Local\Temp\msohtmlclip1\01\clip_image001.jpg">
            <em>&nbsp;Eurohockey – 50 min.</em></p>

          <p><img alt="" src="file:///C:\Users\KARINE~1.HOV\AppData\Local\Temp\msohtmlclip1\01\clip_image001.jpg">
            <em>&nbsp;American football – 50 min.</em></p>

          <p><img alt="" src="file:///C:\Users\KARINE~1.HOV\AppData\Local\Temp\msohtmlclip1\01\clip_image001.jpg">
            <em>&nbsp;Baseball- 5 periods (innings)</em></p>

          <p><img alt="" src="file:///C:\Users\KARINE~1.HOV\AppData\Local\Temp\msohtmlclip1\01\clip_image001.jpg">
            <em>&nbsp;Handball – 50 min.</em><br>
            &nbsp;</p>

          <p><strong><em><u>32. </u></em></strong><a
              href="http://www.footballtips.com/category/betting-guide/abandoned-or-postponed-match-rules-201401030012/"><strong><em>What
                  happens to my bet if a match is postponed?&nbsp;</em></strong></a></p>

          <p>If the event does not take place as scheduled or if the official score of the match is not announced and is not
            resumed within 30 hours, all bets will be refunded or transferred to your account. If this match is included in
            your "multi bet" or “system bet”, your winning will be calculated at 1 odd.</p>

          <p><strong><em><u>33. How can I check the result of the preferred game?</u></em></strong></p>

          <p>As we calculate the bets according to the data of the official websites, you can find the list of official
            websites under point 18.3 of the Terms and Conditions.</p>

          <p><strong><u>“Live” bets</u></strong></p>

          <p>Our LIVE bets will keep you in suspense until the end of the sports event. Hundreds of fans simultaneously make
            bets in real time. The odds of bets are dynamic and change depending on the course of the sports event.
            Simultaneously the detailed information, such as the expired time, the current score, quantity of the yellow and
            red cards shown, etc. is displayed in real time. LIVE bets are available not only for soccer games but also for
            other sports events, such as tennis, Formula 1, American football, ice hockey, skiing, etc.</p>

          <p><strong><em><u>1</u></em></strong><em><u>.<strong> Why has the acceptance of my bet been delayed or
                  interrupted?</strong></u></em></p>

          <p>This may occur because of the following reasons:</p>

          <p>No bookmaker can avoid technical problems (interruption of the broadcast during (live) games, software failure,
            power cuts, etc.).</p>

          <p>The abundance of the bets.</p>

          <p>High levels of interest in certain kinds of sport. Congestion of a network provider.</p>

          <p>Speed of the given sport as an event. For example, a tennis game is an event with a very fast outcome, the
            quantity of bets is maximum, the change of the coefficients occurs very quickly.</p>

          <p><strong><em><u>2. Why was my bet registered twice?</u></em></strong></p>

          <p>It can happen only if you pressed the button twice. Please take care when making bets.</p>

          <p><strong><u>3. Why has the offer of odds been stopped ahead of time?</u></strong></p>

          <p>The offering of odds could have occurred for any of the reasons outlined in 1.</p>

          <p><strong><u>4. How accurate is the data given on the Live matches on your website?</u></strong></p>

          <p>Every effort is made that this information is up to date and correct. However, it is only to be considered a
            guide when betting.</p>

          <p><strong><em><u>5. Why is my limit on the (live) bet reduced?</u></em></strong></p>

          <p>Any bookmaker office has the right to reduce the limit of all or some players. Moreover, the office is not
            obliged to provide an explanation concerning this decision and reserves the right to block some players from using
            its services.</p>

          <p><strong><u>Casino</u></strong></p>

          <p><strong><em><u>1. How can I create a Casino account?</u></em></strong></p>

          <p>Playing in the <strong><em>Koorabet Casino</em></strong> requires a Koorabet Account. If you do not already
            have one, just click on the “Register” button on the Casino page and follow the simple registration process.</p>

          <p><strong><em><u>2. What should I do if I have forgotten my username/password?</u></em></strong></p>

          <p>If you’ve forgotten your password, first try to restore it through the site using the “Forgot password?” option.
            Password recovery will not function in some cases (e.g. the e-mail address is wrong or there are technical
            problems). If you’ve forgotten your username or if you experience any other issues, you should contact us through
            Live Support, send us an email using our support email address <u>info@koorabet.com</u> or the “Send a Message”
            option on My Profile page, or call us on:+1-702-605-4859.</p>

          <p><strong><em><u>3. How do I make a deposit in the online casino?</u></em></strong></p>

          <p>Once logged in, press the “Deposit” button on the top of your screen and select your desired amount and payment
            method.</p>

          <p><strong><em><u>4. How do I view what games I’ve played last?</u></em></strong></p>

          <p>Once logged in, you can view a Last Played Games using the appropriate icons on the bottom of the Casino page.
          </p>

          <p><strong><em><u>5. What is the Random Number Generator (RNG)?</u></em></strong></p>

          <p>A Random Number Generator (RNG) is a computer program which randomly produces the results for our online casino
            games. Every individual card dealt, dice rolled, or any other pertinent game action is produced by the program
            without any unrealistic duplication or predictability.</p>

          <p>Since the results are generated in a completely random manner with no possibility of manipulation, you always get
            fair results.</p>

          <p><strong><em><u>6. What kind of games can I play online at the Koorabet Casino?</u></em></strong></p>

          <p><strong><em>Koorabet </em></strong>offers a wide selection of games to our players. You can find many different
            3D games, Table games, a huge variety of Slot games, and even Live games including Blackjack and Roulette, with
            Baccarat coming very soon.</p>
        </div>
      </div>
    </div>
    <footer>
      <div class="top-footer">
        <div class="d-flex flex-wrap flex-md-nowrap align-items-center">
          <p>Download Koorabet App</p>
          <div class="app-download-btn">
            <a href="#"><%= image_tag "koorabet/app-store.png" %></a>
            <a href="#"><%= image_tag "koorabet/g-play.png" %></a>
          </div>
        </div>
      </div>
      <div class="dropdown lang-drop">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="true">
          <%= image_tag "koorabet/flags/us.svg" %> 
          US
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start"
          style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
          <a class="dropdown-item" href="#"><%= image_tag "koorabet/flags/in.svg" %> IN</a>
          <a class="dropdown-item" href="#"><%= image_tag "koorabet/flags/ca.svg" %> CA</a>
        </div>
      </div>
      <div class="botton-footer">
        <ul>
          <h3>Sports</h3>
          <li><a href="#">Sport Betting</a></li>
          <li><a href="#">Live betting</a></li>
          <li><a href="#">Football Tennis</a></li>
          <li><a href="#">Basketball Champions</a></li>
          <li><a href="#">League Formula1</a></li>
          <li><a href="#">Premier League</a></li>
        </ul>
        <ul>
          <h3>&nbsp;</h3>
          <li><a href="#">Sport Betting</a></li>
          <li><a href="#">Live betting</a></li>
          <li><a href="#">Football Tennis</a></li>
          <li><a href="#">Basketball Champions</a></li>
          <li><a href="#">League Formula1</a></li>
          <li><a href="#">Premier League</a></li>
        </ul>
        <ul>
          <h3>Play Now</h3>
          <li><a href="#">Online Sports</a></li>
          <li><a href="#">Live Casino</a></li>
          <li><a href="#">Online Slots</a></li>
        </ul>
        <ul>
          <h3>Promotions</h3>
          <li><a href="#">Sports</a></li>
          <li><a href="#">Poker</a></li>
          <li><a href="#">Casino</a></li>
        </ul>
        <ul>
          <h3>About us</h3>
          <li><a href="#">Privacy policy</a></li>
          <li><a href="#">Terms and Conditions</a></li>
          <li><a href="#">Responsible Gaming</a></li>
          <li><a href="#">System Fairness</a></li>
          <li><a href="#">Help & Contacts</a></li>
        </ul>
      </div>
      <p class="footer-content">
        Koorabet uses cookies to help improve your experience whilst visiting our site, help us with fraud prevention
        and to fulfil our legal and regulatory obligations. Please read our Cookie Policy for further information on
        how we use information obtained from cookies and how to change your cookie settings
      </p>
      <div class="pay-img">
        <a href="#"><%= image_tag "koorabet/visa.png" %></a>
        <a href="#"><%= image_tag "koorabet/fast-pay.png" %></a>
      </div>
    </footer>
  </div>
</section>