<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><%= @sport.name.titleize  %></h2>
  </div>
  <div class="col-lg-2">
    <div class="back-btn">
      <%= link_to :back, class: 'btn btn-primary' do %>
        <span class="fa fa-arrow-circle-o-left"></span> Back
      <% end %>
    </div>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= t('information') %></h5>
        </div>
        <div class="ibox-content">
          <table class="table">
            <tbody>
              <% %w[name status acronym enabled].each do |field| %>
                <tr>
                  <td><b><%= "#{t(field).titleize}:" %></b></td>
                  <td><%= "#{@sport[field]}" || '-' %></td>
                </tr>
              <% end %>
              <tr>
                <td><b>Rank:</b></td>
                <td>
                  <%= @sport&.rank %>
                </td>
              <tr>
              <tr></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= t('statistics') %></h5>
        </div>
        <div class="ibox-content">
          <table class="table">
            <tbody>
                <tr>
                  <td><b><%= t('tournaments.show.number_of_tournaments') %></b></td>
                  <td><%= @sport.tournaments.count %></td>
                  <td><%= link_to t('view'), admin_sport_tournaments_path(@sport) %></td>
                </tr>
                <tr>
                  <td><b><%= t('tournaments.show.number_of_markets') %></b></td>
                  <td><%= @sport.markets.count %></td>
                  <td><%= link_to t('view'), admin_sport_markets_path(@sport) %></td>
                </tr>
              <tr></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>