<table class="dt-reports table table-hover promo-codes-list">
  <thead>
    <tr>
      <th><%= t('admin.promo_codes.created_at') %></th>
      <th><%= t('admin.promo_codes.name') %></th>
      <th><%= t('admin.promo_codes.code') %></th>
      <th><%= t('admin.promo_codes.type') %></th>
      <th><%= t('admin.promo_codes.status') %></th>
      <th><%= t('admin.promo_codes.kind') %></th>
      <th><%= t('admin.promo_codes.percent') %></th>
      <th><%= t('admin.promo_codes.threshold_amount') %></th>
      <th><%= t('admin.promo_codes.maximum_cashback') %></th>
      <th><%= t('admin.promo_codes.valid_till') %></th>
      <th><%= t('admin.promo_codes.limit_per_user') %></th>
      <th><%= t('admin.promo_codes.usage_limit') %></th>
      <th><%= t('admin.promo_codes.usage_count') %></th>
      <th colspan=2><%= t('actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% if promo_codes.present? %>
      <% promo_codes.each do |promo_code| %>
        <tr class="gradeX">
          <td><%= short_date(promo_code.created_at) %></td>
          <td><%= promo_code.name %></td>
          <td>
            <span class="badge badge-info">
              <%= promo_code.code %>
            </span>
          </td>
          <td><%= promo_code.promo_type&.humanize %></td>
          <td><%= promo_code.status&.humanize %></td>
          <td><%= promo_code.kind&.humanize %></td>
          <td><%= promo_code.percentage? ? promo_code.percent : '-' %></td>
          <td><%= format_currency(amount: promo_code.threshold_amount[:IQD]) %></td>
          <td><%= format_currency(amount: promo_code.maximum_cashback[:IQD]) %></td>
          <td><%= short_date(promo_code.valid_till) || "-" %></td>
          <td><%= promo_code.limit_per_user || "-" %></td>
          <td><%= promo_code.usage_limit || "-" %></td>
          <td><%= promo_code.user_promo_codes.count || "-" %></td>
          <td>
            <%= link_to edit_admin_promo_code_path(promo_code), class: 'btn btn-block btn-sm btn-primary' do %>
              <i class="fa fa-pencil"></i> Edit
            <% end %>
            <%= link_to admin_promo_code_path(promo_code), class: 'btn btn-block btn-sm btn-success' do %>
              <i class="fa fa-eye"></i> Show
            <% end %>
            <%= link_to list_promo_usage_admin_promo_codes_path(id: promo_code.id), class: 'btn btn-block btn-sm btn-success' do %>
              View Usage
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan=12>No Data Found</td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate promo_codes, renderer: BootstrapPagination::Rails %>

<script>
  $('.pagination a').attr('data-remote', 'true');
</script>
