<%= will_paginate @casino_menus, renderer: BootstrapPagination::Rails %>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th><%= t('id') %></th>
      <th><%= t('name') %></th>
      <th><%= t('menu_type') %></th>
      <th><%= t('order') %></th>
      <th><%= t('featured') %></th>
      <th><%= t('active') %></th>
      <th><%= t('actions') %></th>
    </tr>
  </thead>
  <tbody id="sortable-body">
    <%= render partial: 'admin/casino_menus/casino_menu', collection: @casino_menus, current_admin_user: current_admin_user %>
  </tbody>
</table>
<%= will_paginate @casino_menus, renderer: BootstrapPagination::Rails %>

<script type="text/javascript">
  $(document).ready(function() {
    sortableJs();

    $('.featured_checkbox').on('change', function(){
      patchAjaxJs(`/admin/casino_menus/${$(this).closest('tr').attr('id')}/toggle_featured_status`);
    });
  });
</script>