<% url = @group.persisted? ? admin_group_path(@group) : admin_groups_path %>
<%= form_with model: @group, url: url, local: true, class: 'form' do |f| %>

  <% %I[name].each do |column| %>
    <div class="form-group col-lg-10">
      <%= f.label column %>
      <%= f.text_field column, class: 'form-control', style: 'width: 100%;' %>
    </div>
  <% end %>

  <div class="form-group col-lg-10">
    <div class="col-lg-5">
      <%= f.label :users, t('users.users') %>
      <%= f.collection_select(:users, User.all - @group.users, :id, :email, { selected: @group.users.collect(&:id)}, { multiple: true, class: 'form-control'}) %>
    </div>
    <div class="col-lg-2">
      <br><br>
      <%= f.submit ">>", value: '>>', class: 'btn btn-primary' %>
      <br>
      <%= f.submit "<<", value: '<<', class: 'btn btn-primary' %>
    </div>
    <div class="col-lg-5">
      <%= f.label :group_users, t('group_users') %>
      <%= f.collection_select(:group_users, @group.users, :id, :email, { selected: @group.users.collect(&:id)}, { multiple: true, class: 'form-control'}) %>
    </div>
  </div>

  <div class="form-group col-lg-10">
    <%= f.submit t('edit'), class: 'btn btn-primary' %>
    <%= link_to :back, class: 'btn btn-primary' do %>
      <span class="fa fa-arrow-circle-o-left"></span> Back
    <% end %>
  </div>
<% end %>
