<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><%= t('users.users') %></h2>
    <h3><%= "#{@admin_user&.full_name} (#{@admin_user&.email})" if @admin_user.present? %></h3>
  </div>
  <div class="col-lg-2">
    <div class="back-btn">
      <%= link_to :back, class: 'btn btn-primary' do %>
        <span class="fa fa-arrow-circle-o-left"></span> Back
      <% end %>
    </div>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <%= render "user_filter" %>
  </div>
  
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Players List</h5>
          <div class="ibox-tools">
            <% if current_admin_user.is_super_admin? %>
              <%= link_to "Add Player", new_admin_user_path(admin_user_id: params[:admin_user_id]), class: "btn btn-primary btn-sm" %>
              <div class="ibox-tools" style='clear:both'>
                <%= form_tag('/admin/cms_templates/promotion_notification', method: :post, class: 'pull-right promition-send form-inline', style: 'margin-left: 10px;') do %>
                  <%= hidden_field_tag :user_ids, nil, class: 'user_ids' %>
                  <% cms_templates = CmsTemplate.promotional_notification.order(updated_at: :desc) %>
                  <%= select_tag "cms_template_id", options_for_select(cms_templates.map{|cms_template| ["#{cms_template.id} - #{cms_template.subject}", cms_template.id]}), prompt: "Select Promotional mail", class: 'form-control', required: 'required', style: 'margin-top: -6px;' %>
                  <%= submit_tag "Send Promotional Email", class: 'btn btn-primary' %>
                <% end %>
                <div style="clear:both"></div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="ibox-content">
          <%= render "admin/layouts/loader" %>
          <div id="users_list">
            <%= render "list" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    onlyNumeric();
    address = '/admin/users/search';
    searchContent(address);
    resetSearch('/admin/users');
    $('#arrange-items').on('change', function() {
      commonSearchCode(address);
    });
  });
</script>
