<!DOCTYPE html>
<html>
<head>
  <title>Koorabet</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% unless session[:gs_session] %>
      <link rel="icon" href="<%= image_url 'koorabet_favicon.png' %>" type="image/x-icon" sizes="16x16">
  <% else %>
      <link rel="icon" href="<%= image_url 'gs_favicon.png' %>" type="image/x-icon" sizes="16x16">
  <% end %>
  <!-- Bootstrap -->
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag 'koorabet_theme', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'koorabet_theme', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <%= yield %>
</body>
</html>