<!DOCTYPE html>
<html lang="en">
  <head>
    <% unless session[:gs_session] %>
      <link rel="icon" href="<%= image_url 'favicon.png' %>" type="image/x-icon" sizes="16x16">
    <% else %>
      <link rel="icon" href="<%= image_url 'gs_favicon.png' %>" type="image/x-icon" sizes="16x16">
    <% end %>
    <title><%= Figaro.env.project_name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <!-- <script lang="text/javascript" src="//cdn.ably.io/lib/ably.min-1.js"></script> -->
    <!-- <script src="https://www.gstatic.com/firebasejs/6.2.2/firebase.js"></script> -->
    <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-database.js"></script>

    <%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'main', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= 'set-header' if current_user.blank? %>">
    <%= render 'layouts/header' %>
    <%= render 'layouts/search' if params[:controller] != 'casino' %>
    <%#= render 'layouts/tab' %>
    <section class="tab-section">
      <%= render 'layouts/slider' %>
      <%= render 'layouts/flash_message' %>
      <div class="<%= params[:controller] == 'casino' ? 'casino-parent' : '' %>">
        <div class="parent-section">
          <%= render 'layouts/leftpart' if params[:controller] != 'casino' %>
          <%= render 'layouts/user/reality_check_popup' if @notify == true %>
          <div class="right-part">
            <div class='body-container'>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%= render 'layouts/casino_modal_popup' %>
    <%= render 'layouts/footer' %>
    <!-- Spinner -->
    <div id="cover-spin">
      <p>Loading....</p>
    </div>
  </body>
</html>
