<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= Figaro.env.project_name %></title>

    <!-- Include style per-controller - vendor plugins -->
    <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>

    <!-- Main css styles -->
    <%= stylesheet_link_tag    'admin_application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Main javascript files -->
    <%= javascript_include_tag 'admin_application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>



</head>
<body class="gray-bg">
  <header>
    <nav class="navbar navabr-bg">
      <div class="container-fluid">
        <div>
          <div class="navbar-header">
            <a class="" href="#">
              <% unless session[:gs_session] %>
                <%= image_tag 'logo.png', class: "img-responsive logo-img", alt: "logo" %>
              <% else %>
                <%= image_tag 'gs_logo', class: "img-responsive logo-img", alt: "logo" %>
              <% end %>
            </a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <%= render 'layouts/flash_message' %>

<!-- Main view  -->
<%= yield %>


    <!-- Include javascript per-controller - vendor plugins -->
    <%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>

    <!-- Include javascript per-view -->
    <!-- For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want -->
    <%= yield :javascript %>
</body>
</html>
