<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <% unless session[:gs_session] %>
        <link rel="icon" href="<%= image_url 'favicon.png' %>" type="image/x-icon" sizes="16x16">
    <% else %>
        <link rel="icon" href="<%= image_url 'gs_favicon.png' %>" type="image/x-icon" sizes="16x16">
    <% end %>
    <title><%= Figaro.env.project_name %></title>

    <!-- Include style per-controller - vendor plugins -->
    <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>

    <!-- Main css styles -->
    <%= stylesheet_link_tag    'user_application', media: 'all', 'data-turbolinks-track' => true %>

    <!-- Main javascript files -->


    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= javascript_include_tag 'user_application', 'data-turbolinks-track' => true %>

</head>
<body>
    <!-- Wrapper-->
    <div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">

        <!-- Navigation -->
        <%= render 'layouts/user/navigation' %>

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg <%= @extra_class %>">

            <!-- Page wrapper -->
            <%= render 'layouts/user/topnavbar' %>

            <%= render 'layouts/flash_message' %>

            <!-- Main view  -->
            <%= yield %>

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->

    <!-- Include javascript per-controller - vendor plugins -->
    <%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>

    <!-- Include javascript per-view -->
    <!-- For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want -->
    <%= yield :javascript %>

</body>
</html>
